body {
	margin: 0;
	padding: 0;
}

.header {
	background: #3a6dc1;
	text-align: center;
	padding: 6px;
	color: white;
	font-size: 24px;
	font-weight: bold;
}

.main {
	padding: 10px 10px 75px 10px;
	background: #5193ff;
}

#to-do-box {
	width: 685px;
	margin-top: 10px;
	text-align: center;	
	background: #ededed;
	border-radius: 5px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

#to-do-tasks {
	overflow-y: scroll;
	height: 600px;
	padding-bottom: 25px;
}

.task-card {
	float: left;
	margin: 5px;
	background: white;
	width: 150px;
	height: 150px;
	padding: 10px 10px 15px 10px;
	border-radius: 15px;
}

.task-card p {
	font-size: 14px;
}

#new-task {
	padding: 15px;
}

#new-task a {
	color: #777;
}

#goal-box {
	width: 685px;
	margin-top: 10px;
	text-align: center;	
	background: #ededed;
	border-radius: 10px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

#goals {
	overflow-y: scroll;
	height: 100px;
	padding-bottom: 10px;
}

.goal-card {
	font-size: 14px;
	float: left;
	margin: 5px;
	background: white;
	padding: 3px;
	border-radius: 15px;
	background: #0d770f;
	color: white;
}

#goal-name {
	float: left;
	padding-left: 10px;
}

#goal-target {
	float: left;
	font-weight: bold;
	padding: 0 5px 0 5px;
}

#new-goal {
	padding: 5px;
}

#new-goal a {
	color: #777;
}

